body {
  background-image: url('images/fundo2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

.logo {
  color: #0056b3;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo h1 span {
  color: white;
}

.sidebar-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(42, 75, 92, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
}

.sidebar-top-right h5 {
  font-size: 1.1em;
  font-weight: bold;
}

.sidebar-top-right .btn {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.image-generator {
  background-color: rgba(74, 74, 74, 0.945);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  text-align: center;
}

.image-generator h5 {
  font-weight: bold;
  color: #0056b3;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.image-generator input {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-size: 1.1em;
}

.image-generator input:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-generator button {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.image-generator button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

#downloadImageLink {
  display: none;
  width: 100%;
  padding: 15px;
  background-color: #0056b3;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

#downloadImageLink:hover {
  background-color: #004494;
  transform: scale(1.05);
}

#generatedImage img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#loadingIcon {
  color: #9e9e9e;
  margin-top: 20px;
}

#loadingIcon p {
  margin-top: 10px;
  font-size: 1.1em;
  color: #9e9e9e;
}

/* Botão de logout */
#logoutBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 100;
}

#logoutBtn:hover {
  background-color: #004494;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
  .logo h1 {
    font-size: 2.5rem;
  }

  .sidebar-top-right {
    width: 90%;
    right: 5%;
    top: 20px;
  }

  .image-generator {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
  }
}
