body {
    background-image: url('images/fundo2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  html, body {
    height: 100%;
  }
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.193);
  }
  
  .header {
    background-color: rgba(211, 211, 211, 0.238);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: relative;
  }
  
  .back-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff9a;
    color: rgba(255, 255, 255, 0.53);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .main-content-wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
  }
  
  .left-panel, .right-panel {
    background-color: rgba(211, 211, 211, 0.323);
    padding: 10px;
  }
  
  .left-panel {
    width: 20%;
  }
  
  .right-panel {
    width: 20%;
  }
  
  .main-content {
    background-color: rgba(211, 211, 211, 0.301);
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .user-profile {
    background-color: rgba(169, 169, 169, 0.263);
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .persona-list img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bffa0;
    transition: transform 0.3s ease;
  }
  
  .persona-list img:hover {
    transform: scale(1.1);
  }
  
  .selected {
    border-color: #28a74692;
  }
  
  .persona-section img {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .chat-box {
    flex: 1;
    overflow-y: auto;
    background-color: rgba(224, 224, 224, 0.381);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .chat-message {
    margin-bottom: 10px;
  }
  
  .chat-message.user {
    text-align: right;
  }
  
  .chat-message.ai {
    text-align: left;
  }
  
  .message-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(169, 169, 169, 0.345);
    padding: 10px;
  }
  
  .message-box input {
    width: 90%;
    height: 100%;
    border: none;
    padding: 10px;
    margin-right: 10px;
  }
  
  .message-box button {
    background-color: rgba(169, 169, 169, 0.316);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  #loadingIcon {
    font-size: 24px;
    color: #007bff;
    display: none;
  }
  
  .model-selector {
    margin-top: 15px;
    background-color: #007bff80;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .model-selector select {
    background-color: #007bff80;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
